.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#navegation {
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 1;
  height: auto;
}
.isActive {
  color: rgb(5, 7, 5);
  padding-left: 10px;
  height: auto;
  width: auto;
}
.isntActive {
  color: rgb(253, 252, 252);
  padding-left: 10px;
}
.navegation {
  width: 80%;
}
.navegation-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.navegation-nav p {
  color: white;
  padding: 0;
  margin: 0;
}
.total {
  width: 118px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.total-p1 {
  width: 20px;
}
.total-p2 {
  width: 26px;
}
.total-p3 {
  width: 60px;
}

.div-img-home {
  width: 100%;
  
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.total {
  display: flex;
  flex-direction: row;
}
.div-products-home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
}
#div-products-home {
  position: relative;
}
.div-product-home {
  width: 250px;
  height: auto;
  border: solid 1px rgb(214, 209, 209);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-product-home img {
  width: 100%;
  height: 140px;
}
.div-product-home ul {
  list-style-type: none;
  width: 90%;
  border-top: 1px solid rgb(184, 178, 178);
  border-bottom: 1px solid rgb(184, 178, 178);
  padding-top: 5px;
  padding-bottom: 5px;
}
.div-product-home li {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.div-product-home li p {
  margin: 0;
}
.div-product-home h5 {
  width: 100%;
  text-align: left;
  padding-left: 30px;
}
.div-product-home h4 {
  width: 100%;
  text-align: center;
}
.div-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.div-product-home button {
  border-radius: 10px;
  color: white;
}
.button-home-1 {
  background-color: rgb(102, 176, 192);
}
.button-home-1:hover {
  background-color: rgb(146, 180, 244);
}
.button-home-2 {
  background-color: rgb(227, 104, 104);
}
.button-home-2:hover {
  background-color: rgb(234, 89, 89);
}

.div-pizza {
  width: 75%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.div-pizza img {
  width: 40%;
  height: auto;
  border-radius: 5px;
}
.div-pizza-int {
  width: 60%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-pizza-int h5 {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
.div-pizza-int-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-pizza-int-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.div-pizza-int-bottom button {
  border-radius: 5px;
  color: white;
}
.button-pizza {
  background-color: rgb(204, 39, 39);
}
.button-pizza:hover {
  background-color: rgb(196, 66, 66);
}
.div-pizza ul {
  list-style-type: none;
  width: 50%;
  border-top: 1px solid rgb(184, 178, 178);
  border-bottom: 1px solid rgb(184, 178, 178);
  padding-top: 5px;
  padding-bottom: 5px;
}
.div-pizza li {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.div-pizza li p {
  margin: 0;
}
.div-pizza p {
  text-align: left;
}

.car0 p {
  font-size: 20px;
}
.tohome {
  color: rgb(140, 140, 225);
}
.tohome:hover {
  text-decoration: underline;
  cursor: pointer;
}
section {
  width: 60%;
  height: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 0;
}

section button {
  color: white;
  font-size: 15px;
  border-radius: 10%;
}
.button-carrito-1 {
  background-color: rgb(235, 147, 147);
}
.button-carrito-1:hover {
  background-color: rgb(192, 82, 82);
}
.button-carrito-2 {
  background-color: rgb(123, 159, 226);
}
.button-carrito-2:hover {
  background-color: rgb(62, 107, 190);
}
section p {
  text-align: left;

  font-size: 30px;
}
.carrito-pizza {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  border: 1px rgb(201, 197, 197) solid;
  padding: 3px;
}
.carrito-pizza img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.carrito-pizza-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.carrito-pizza-left p {
  margin-left: 10px;
  font-size: 20px;
  height: 25px;
  margin-bottom: 5px;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
.carrito-pizza-left p:hover {
  border-bottom: 1px solid rgb(128, 124, 124);
}
.carrito-pizza-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.carrito-pizza-right-int {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.carrito-pizza-right-int h5 {
  padding: 0;
  margin: 0;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.carrito-pizza-right p {
  margin-right: 10px;
  padding: 0;
  margin-bottom: 0;
  font-size: 20px;
}
.button-pagar {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  background-color: green;
}

.p-total {
  margin-top: 10px;
  margin-bottom: 5px;
}
